<div class="container">
  <footer
    class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top"
  >
    <div class="col-md-4 d-flex align-items-center">
      <a
        href="/"
        class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1"
        aria-label="Bootstrap"
      >
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookshelf" viewBox="0 0 16 16">
        <path d="M2.5 0a.5.5 0 0 1 .5.5V2h10V.5a.5.5 0 0 1 1 0v15a.5.5 0 0 1-1 0V15H3v.5a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 .5-.5M3 14h10v-3H3zm0-4h10V7H3zm0-4h10V3H3z"/>
      </svg>
      </a>
      <span class="mb-3 mb-md-0 text-body-secondary">© 2025 Blog Website, Inc</span>
    </div>
    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3">
        <a class="text-body-secondary" href="#" aria-label="Instagram"
          ><svg class="bi" width="24" height="24" aria-hidden="true">
            <use xlink:href="#instagram"></use></svg
        ></a>
      </li>
      <li class="ms-3">
        <a class="text-body-secondary" href="#" aria-label="Facebook"
          ><svg class="bi" width="24" height="24">
            <use xlink:href="#facebook"></use></svg
        ></a>
      </li>
    </ul>
  </footer>
</div>
