<div class="container">
  <header
    class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom"
  >
    <a
      href="/"
      class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"
    >
    <svg xmlns="http://www.w3.org/2000/svg" width="26" fill="currentColor" class="bi bi-bookshelf mx-1" viewBox="0 0 16 16">
        <path d="M2.5 0a.5.5 0 0 1 .5.5V2h10V.5a.5.5 0 0 1 1 0v15a.5.5 0 0 1-1 0V15H3v.5a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 .5-.5M3 14h10v-3H3zm0-4h10V7H3zm0-4h10V3H3z"/>
      </svg>
      <span class="fs-4">Blog Website</span>
    </a>
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a href="/" class="nav-link active" aria-current="page">Home</a>
      </li>
      <li class="nav-item"><a href="/edit" class="nav-link">Edit</a></li>
      <li class="nav-item"><a href="/create" class="nav-link">Create</a></li>
      <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
      <li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
    </ul>
  </header>
</div>
