</main>

<footer>
  <!-- Step 4 - Add a dynamic year to the footer using JS. -->
   <% let currDate = new Date(); %>
   <% let currYear = currDate.getFullYear(); %>
  <p>Copyright © <%= currYear %></p>
</footer>
</body>

</html>