<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <%- include("partials/links.ejs") %>
        <title>About Page</title>
    </head>

    <body>
        <%- include("partials/header.ejs") %>

        <main>
            <div class="container">
                <h2 class="display-5 link-body-emphasis mb-1">About me</h2>
                <p>Hello! I am Tameem Al Daradkah and this is a simple project during my full stack development course to test my knowledge in express and nodejs!</p>
            </div>
        </main>

        <%- include("partials/footer.ejs") %>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
        
    </body>
</html>